body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .App {
    max-width: 1024px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .lista-tarefas {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
  }
}

.App {
  text-align: center;
}

.form {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-text {
  flex: 1;
  border: none;
  outline: none;
  margin-right: 10px;
}

.task-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.task-buttons {
  display: flex;
  align-items: center;
}

.lista-tarefas {
  list-style: none;
  padding: 0;
}

.lista-tarefas li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #ccc;
  transition: background-color 0.3s ease;
}

.lista-tarefas li:hover {
  background-color: #8ed8d8;
}

.lista-tarefas li.concluida {
  text-decoration: line-through;
  opacity: 0.6;
  color: #aaa;
}

button {
  cursor: pointer;
  margin: 10px;
  position: relative;
}

button::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button[type="submit"]::before {
  content: "✔";
  margin-right: 1px;
  padding: 3px;
}

button.delete::before {
  content: "✖";
  margin-right: 1px;
  padding: 3px;
}

button.concluir::before {
  content: "✓";
  margin-right: 1px;
  padding: 3px;
}
