/* .message {
  position: relative;
  padding: 10px;
  border-bottom: 1px solid #eee;
  background-color: #f5f5f5;
  color: #635d5d;
}

.message p {
  padding: 0;
  margin: 0;
}

.message.me {
  background-color: #dcf8c6;
  align-self: flex-end;
}

.visualized.yes svg {
  fill: #4fc3f7;
}

.options {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  visibility: hidden;
  cursor: pointer;
}

.message:hover .options {
  visibility: visible;
}

.options:hover {
  color: #4fc3f7;
} */