:root {
    --cor-mensagem-primaria: #000000;

    --cor-mensagem-secundaria: #075e54;

    --cor-mensagem-terciaria: #25d366;

    --cor-hover: #8b8b8b78;
}

html,
body,
.chat {
    height: 90vh;
    display: flex;
    align-items: flex-end;

    justify-content: center;
    margin: 20px 0;

    background-color: var(--cor-mensagem-primaria);

}

.content {
    width: 400px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

.message {
    position: relative;
    background-color: var(--cor-mensagem-secundaria);

    border-radius: 10px;
    margin-bottom: 5px;
    color: white;
    width: fit-content;
    max-width: 70%;

}

.message.received {
    align-self: flex-start;

    border-top-right-radius: 0;

}

.message.sent {
    align-self: flex-end;

    border-top-left-radius: 0;

}

.message p {
    padding: 10px;
    margin: 0;
}

.message .options,
.message .visualized {
    position: absolute;
}

.message .options {
    top: 2px;
    left: 5px;

    visibility: hidden;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message:hover .options {
    visibility: visible;
}

.message .options:hover {
    background-color: var(--cor-hover);
}

.message .visualized {
    bottom: 2px;
    right: 10px;

    fill: var(--cor-mensagem-terciaria);

}

svg {
    width: 10px;
    height: 10px;
    fill: white;
}

.message .options {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}

.message .options:hover {}

.visualized.yes svg {
    fill: #74C0FC;
}

.message.viewed .visualized {
    fill: #74C0FC;
}

.message.not-viewed:hover {
    background-color: #2c363e;
    cursor: pointer;
}