
.header {
    position: relative;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    background-color: #128C7E;
    color: #fff;
  }
  
  .header h3 {
    margin: 0;
    flex-grow: 1;
  }
  
  .header button {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    border: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .header button:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .header button svg {
    width: 20px;
    height: 20px;
  }
  
  